/*font-family: 'Montserrat', sans-serif;
font-family: 'Kaushan Script', cursive;
font-family: 'Roboto', sans-serif;*/

header{
	background-image: url('../img/header.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.container{
	max-width: 1200px;
	margin: auto;
	padding: 0 15px;
}

.centerer{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

section .padding-box{
	padding: 90px 0;
}

.menu .navbar-head-text{
	font-size: 30px;
	font-family: 'Montserrat', sans-serif;
	color: rgb(255, 255, 255);
	font-weight: bold;
	line-height: 1.2;
}

.menu{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.navbar-menu{
	width: 620px;
	margin: 40px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu a{
	width: 24px;
}

.navbar-wrapper a{
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	line-height: 1.2;
	text-decoration: none;
	padding: 5px 0
}

.navbar-menu a:hover{
	cursor: pointer;
	color: rgb(252, 227, 138);
	border-bottom: 3px solid #fce38a;
}

.head .header-text1{
	content: 'Creative Template';
	margin: 125px auto 0;
	font-size: 72px;
	font-family: 'Kaushan Script', cursive;
	color: rgb(255, 255, 255);
	line-height: 1.2;
	text-align: center;
}

.head .header-text2{
	padding: 0 50px;
	margin: 33px auto 0;
	font-size: 150px;
	font-family: 'Montserrat', sans-serif;
	color: rgb(255, 255, 255);
	font-weight: bold;
	text-transform: uppercase;
	line-height: 0.933;
	text-align: center;
}

.head .header-text2:after{
	content: '';
	display: block;
	background: #fff;
	width: 60px;
	height: 3px;
	margin: 59px auto 0;
}

.head button{
	display: block;
	font-size: 14px;
	margin: 50px auto 0;
	width: 160px;
	height: 40px;
	font-family: 'Montserrat', sans-serif;
	color: rgb(255, 255, 255);
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1.2;
	text-align: center;
	border: 3px solid #fff;
	background-color: transparent;
}

.head button:hover{
	cursor: pointer;
	background-color: #edb75e;
}

.head .navigation-text{
	margin: 157px -20px 0;
	font-size: 0;
}

.head .navigation-text .col{
	display: inline-block;
	box-sizing: border-box;
	width: 280px;
	padding-bottom: 20px;
	margin: 0 15px;
}

.head .navigation-text .col:hover{
	cursor: pointer;
}

.head .nav-line{
	position: relative;
	width: 280px;
	height: 3px;
	background: #f7ebc5;
	display: block;
}

.head .col:hover .nav-line-hovered{
	position: absolute;
	width: 70px;
	height: 3px;
	background: #f38181;
	display: block;
}

.head .col:hover ._2{
	left: 70px;
}

.head .col:hover ._3{
	left: 140px;
}

.head .col:hover ._4{
	left: 210px;
}

.head .col:hover .nav-line{
	background: #fff;
}

.head .navigation-text-theme{
	padding-top: 18px;
}

.head .navigation-text span{
	font-size: 24px;
	font-family: 'Montserrat', sans-serif;
	color: rgb(255, 255, 255);
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1.2;
}

.head .navigation-text p{
	display: inline-block;
    padding-top: 6px;
	font-size: 18px;
	font-family: 'Montserrat', sans-serif;
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	line-height: 1.2;
}

.header-text1{
	margin-top: 92px;
	font-size: 24px;
	font-family: 'Kaushan Script', cursive;
	color: rgb(51, 51, 51);
	line-height: 1.2;
	text-align: center;
}

.header-text2{
	margin-top: 14px;
	font-size: 30px;
	font-family: 'Montserrat', sans-serif;
	color: rgb(51, 51, 51);
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1.2;
	text-align: center;
}

.header-text2:after{
	content: '';
	display: block;
	background: #f38181;
	width: 60px;
	height: 3px;
	margin: 32px auto 0;
}

.about-us p{
	margin-top: 42px;
	padding: 0 105px;
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
	color: rgb(153, 153, 153);
	line-height: 1.6;
	text-align: center;
}

.pict-facts .pict-row{
	font-size: 0;
	margin: 100px -15px;
}

.pict-facts .pict-hover-text{
	display: none;
	padding: 10px 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%);
	font-size: 18px;
	font-family: 'Montserrat', sans-serif;
	color: rgb(255, 255, 255);
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1.2;
	text-align: center;
	order: 999;
}

.pf .pict-hover-text:before{
	content: '';
	display: none;
	position: absolute;
	top: 38%;
	left: 50%;
	transform: translate(-50%, -100%);
	width: 35px;
	height: 35px;
	order: 999;
	background: url("../img/users.png") no-repeat;
}

.pict-facts .pf:hover .pict-hover-text,
.pict-facts .pf:hover .pict-hover-text:before{
	cursor: pointer;
	display: block;
}

.pict-facts .pf{
	position: relative;
	background-color: #95e1d3;
	display: inline-block;
	box-sizing: border-box;
	margin: 0 15px;
	width: 380px;
	height: 250px;
}

.pict-facts ._img{
	position: absolute;
	width: 380px;
	height: 250px;
	top: 0px;
}

.pict-facts .pf:hover ._img,
.team .employer:hover ._img{
	background: linear-gradient(to bottom, rgba(243,129,129,0.9) 0%,rgba(252,227,138,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6f38181', endColorstr='#fce38a',GradientType=0 ); 
	top: -10px;
	left: -10px;
}

.team .employer:hover ._img{
	box-shadow: 10px 10px #95e1d3;
}

.pict-facts .pf:hover img,
.team .employer:hover img{
	position: relative;
	top: -10px;
	left: -10px;
}

.number-facts{
	font-size: 0;
	margin-top: 110px;
	background-color: #95e1d3;
	height: 270px;
}

.number-facts .number-col{
	display: inline-block;
	box-sizing: border-box;
	width: 20%;
	height: 270px;
	padding-top: 70px;
	border-right: 1px solid #b5eae0;
}

.number-facts .number-col:first-of-type{
	border-left: 1px solid #b5eae0;
}


.number-facts .number-text{
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	line-height: 1.2;
	text-align: center;
}

.number-text:before{
	display: block;
	margin-bottom: 12px;
	font-size: 72px;
	font-family: 'Montserrat', sans-serif;
	color: rgb(255, 255, 255);
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1.2;
	text-align: center;
}

.number-facts .fact-1:before{
	content: '42';
}

.number-facts .fact-2:before{
	content: '123';
}

.number-facts .fact-3:before{
	content: '15';
}

.number-facts .fact-4:before{
	content: '99';
}

.number-facts .fact-5:before{
	content: '24';
}

.services .header-text1{
	padding-top: 16px;
}

.services-row-1{
	font-size: 0;
	margin-top: 65px;
}

.services-column{
	display: inline-block;
	box-sizing: border-box;;
	width: 33.3%;
	padding: 0 29px;
}

.services-pict{
	display: inline-block;
	width: 10%;
}

.services-text{
	display: inline-block;
	width: 90%;
	box-sizing: border-box;
	padding: 0 0px 0 26px;
}

.services-text-head{
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
	color: rgb(51, 51, 51);
	text-transform: uppercase;
	line-height: 1.2;
	text-align: left;
}

.services-text-paragraph{
	padding-top: 10px;
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
	color: rgb(153, 153, 153);
	line-height: 1.6;
	text-align: left;
}

.row-line{
	display: block;
	margin-top: 48px;
	border: 1px solid #e5e5e5;
	width: 100%;
}

.services-row-2{
	font-size: 0;
	margin-top: 47px;
}

.u-design{
	background-image: url(../img/u_des.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin-top: 120px;
	padding-top: 16px;
	height: 850px;
}

.devises{
	position: relative;
}

.tablet{
	position: absolute;
	top: 8px;
	left: 289px;
}
.smartphone{
	position: absolute;
	top: 243px;
	right: 230px;
}

.we-do p{
	margin-top: 42px;
	padding: 0 105px;
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
	color: rgb(153, 153, 153);
	line-height: 1.6;
	text-align: center;
}

.we-do .tasks-do{
	font-size: 0;
	padding-top: 76px;
	padding-bottom: 105px;
}

.we-do .pict-do{
	padding: 10px 0;
}

.we-do .description-do label{
	display: inline-block;
    padding-top: 9px;
	padding-left: 15px;
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
	color: rgb(51, 51, 51);
	text-transform: uppercase;
	line-height: 1.2;
	cursor: pointer;
}

/*.img-checked,
.img-unchecked{
	display: none;
    float: right;
    padding: 10px 5px 0 0px;
}*/

.we-do .tasks-do div{
	display: inline-block;
	box-sizing: border-box;
	width: 50%;
}

.we-do .description-do li{
	margin: 10px 0;
	border: 1px solid #e5e5e5;
}

.we-do .descr-header{
	padding: 14px;
	border-bottom: 1px solid #e5e5e5;
}

.we-do .description-do li .descr-header{
	width: 100%;
}

.we-do .description-do textarea{
	    margin-top: 15px;
    margin-bottom: 27px;
    padding: 0px 20px 0px 20px;
	width: 535px;
	max-height: 137px;
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
	color: rgb(153, 153, 153);
	font-style: italic;
	line-height: 1.6;
	text-align: left;
	border: none;
	resize: none;
	overflow-y: scroll;
}

.we-do .scrolly::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 10px 0 0 rgb(245, 245, 245);
	border-radius: 10px;
	background-color: #f5f5f5;
}

.we-do .scrolly::-webkit-scrollbar
{
	width: 5px;
	background-color: #fff;
}

.we-do .scrolly::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,.3);
	background-color: #95e1d3;
}

.we-do div.descr-text{
	display: none;
}

.we-do .tasks-do  input{
	display: none;
}

.we-do .tasks-do  input:checked + div {
    display: block;
}

/*.we-do input:checked .img-uncheceked{
	display: inline-block;
}

.we-do input:not(checked) .img-checeked{
	display: none;
}*/

.descr-header .img-awwow{
/*	display: inline-block;
	background-image: url('../img/ARROW_UP.png');
	background-repeat: no-repeat;
	background-position: center;
	height: 12px;
	width: 22px;
    padding: 17px 60px 0 0px;
    float: right;*/
}

.we-do .tasks-do  input:checked .descr-header .img-checked{
	/*display: inline-block;*/
	
}



.comment{
	background: #f8f8f8;
}

.comment .slider{
	font-size: 0;
	box-sizing: border-box;
	padding: 71px 0 55px;

}

.comment .arrow-left:hover,
.comment .arrow-right:hover{
	cursor: pointer;
}

.comment .com{
	display: inline-block;
}

.comment .arrow-left{
	padding-top: 62px;
	padding-left: 22px;
}

.comment .speech-border{
	position: relative;
	margin-left: 75px;
	width: 150px;
	height: 150px;
	box-sizing: border-box;
	border: 3px solid #95e1d3;
}

.comment .speech-text{
	padding-left: 60px;
	width: 770px;
	font-size: 24px;
	font-family: 'Roboto', sans-serif;
	color: rgb(153, 153, 153);
	font-style: italic;
	line-height: 1.5;
	text-align: left;
}

.comment .user-name:before{
	content: '';
	margin-right: 10px;
	display: inline-block;
	width: 60px;
	height: 3px;
	background: #f38181;
}

.comment .user-name{
	padding: 13px 0px;
	display: block;
	font-size: 24px;
	font-family: 'Kaushan Script', cursive;
	color: rgb(51, 51, 51);
	line-height: 1.2;
	text-align: left;
}

.comment .arrow-right{
	padding-left: 73px;
	padding-top: 63px;
}

.team .header-text1{
	padding-top: 10px;
}

.team .header-text2:after{
	content: '';
	display: block;
	background: #f38181;
	width: 60px;
	height: 3px;
	margin: 33px auto 42px;
}

.team .paragr{
	padding: 0 102px;
	margin-bottom: 88px;
	  font-size: 15px;
  font-family:  'Roboto', sans-serif;
  color: rgb(153, 153, 153);
  line-height: 1.6;
  text-align: center;
}

.team .team-row{
	font-size: 0;
	margin: 0 -15px;
}

.team .employer{
	position: relative;
	background-color: #95e1d3;
	display: inline-block;
	box-sizing: border-box;
	margin: 0 15px;
	width: 380px;
	height: 470px;
}

.team ._img{
	position: absolute;
	width: 380px;
	height: 470px;
	top: 0px;
}
.social-netw {
	font-size: 0;
	width: 224px; 
}

.social-netw i{
	display: none;
	box-sizing: border-box;
	width: 25%;
	height: 56px;
	padding: 15px 18px;
	color: #f38181;
	font-size: 25px;
	cursor: pointer;
	background-color: #fce38a;
}

.team{
	    margin-bottom: 190px;
}

.team .employer:hover .social-netw i{
	display: inline-block;
}

.social-netw i:hover{
	cursor: pointer;
	background-color: #f38181;
	color: #ffffff;
}

.team img{
	margin-bottom: 30px;
}
.employer .employer-data{
	/*position: relative;*/
}

.employer-data .employer-data-name{
	margin-bottom: 5px;
	font-size: 14px;
  font-family:  'Montserrat', sans-serif;
  color: rgb(51, 51, 51);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
}

.employer-data  .employer-data-position{

	 font-size: 15px;
  font-family:'Roboto', sans-serif;
  color: rgb(153, 153, 153);
  font-style: italic;
  line-height: 1.6;
  text-align: center;
}

.brands{
	height: 250px;
	background-color: #f8f8f8;
}

.brands .container{
	/*background-image: url("../img/brands.png");*/
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 110px;
}

.brands .image{
	padding-top: 60px;
}

section.our-work{
	    margin-top: 107px;
}

.our-work .container p{
	text-align: center;
padding: 50px 120px 110px;
}

.our-work .collaje{
	height: 838px;
	font-size: 0;
}

.our-work .work_pict_column{
	display: inline-block;
	box-sizing: border-box;
	width: 25%;
}

.our-work .work_pict_cell{
	position: relative;

	width: 100%;
}

.work_pict_cell .main_pict{
	width: 100%;
}

.work_pict_cell ._img{
    position: absolute;
	top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

div.work_pict_cell:hover div._img{
	background: linear-gradient(to bottom, rgba(243,129,129,0.9) 0%,rgba(252,227,138,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6f38181', endColorstr='#fce38a',GradientType=0 ); 
}

.collaje-data{
	display: none;
	width: 170px;
}

div.work_pict_cell:hover .collaje-data{
	display: block;
	cursor: pointer;
}

.collaje-data img{
	display: block;
	margin: 0 auto 20px;
	width: 30px;
	height: 30px;
}

.collaje-data .theme{
	padding-bottom: 20px;
	font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
}

.collaje-data .text{
	font-size: 15px;
  font-family: 'Roboto', sans-serif;
  color: rgb(255, 255, 255);
  font-style: italic;
  line-height: 1.6;
  text-align: center;
}

.comment2 .slider{
	font-size: 0;
	box-sizing: border-box;
	padding: 70px 0 55px;
}

.comment2 .arrow-left:hover,
.comment2 .arrow-right:hover{
	cursor: pointer;
}

.comment2 .com{
	display: inline-block;
}

.comment2 .arrow-left{
	padding-top: 62px;
	padding-left: 22px;
}

.comment2 .speech-border{
	position: relative;
	margin-left: 72px;
	width: 150px;
	height: 150px;
	box-sizing: border-box;
	/*border: 3px solid #95e1d3;*/
}

.comment2 .speech-text{
	padding-left: 60px;
	width: 770px;
	font-size: 24px;
	font-family: 'Roboto', sans-serif;
	color: rgb(153, 153, 153);
	font-style: italic;
	line-height: 1.5;
	text-align: left;
}

.comment2 .user-name:before{
	content: '';
	margin-right: 10px;
	display: inline-block;
	width: 60px;
	height: 3px;
	background: #f38181;
}

.comment2 .user-name{
	padding: 13px 0px;
	display: block;
	font-size: 24px;
	font-family: 'Kaushan Script', cursive;
	color: rgb(51, 51, 51);
	line-height: 1.2;
	text-align: left;
}

.comment2 .arrow-right{
	padding-left: 73px;
	padding-top: 63px;
}

section.comment2{
	margin-bottom: 92px;
}

section.people-say{
	background-image: url(../img/say.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.people-say .header-text1{
	    padding-top: 107px;
}

.people-say .peoples{
	padding-top: 89px;
	font-size: 0;
	padding-bottom: 60px;
}

.people-say .peoples-column{
	display: inline-block;
	width: 50%;
	box-sizing: border-box;
	padding: 0 40px;
}

.people{
width: 560px;
height: 160px;
    margin-bottom: 70px;
}

.people .avatar{
	display: inline-block;
}

.people .people-data{
	display: inline-block;
	width: 375px;
	padding: 0 45px 0 25px;
}

.people-data .people-name{
	    padding: 10px 0 5px;
	font-size: 14px;
  font-family:   'Montserrat', sans-serif;
  color: rgb(51, 51, 51);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: left;
}

.people-data .people-empl{
	font-size: 15px;
  font-family:  'Roboto', sans-serif;
  color: rgb(51, 51, 51);
  font-style: italic;
  line-height: 1.6;
  text-align: left;
}

.people-data .people-empl:after{
	content: '';
	display: block;
	background: #f38181;
	width: 60px;
	height: 3px;
	  margin: 15px 0 19px;
}

.people-data .people-text{
	width: 375px; 
	font-size: 15px;
  font-family: "Roboto";
  color: rgb(153, 153, 153);
  line-height: 1.6;
  text-align: left;
  position: absolute;
}

.stories .header-text1{
	    padding-top: 17px;
}

.stories .header-text2{
	margin-bottom: 49px;
}

.stories .blogs{
    font-size: 0;
    margin: 0 -15px;
    margin-bottom: 82px;
}

.stories .blog{
	display: inline-block;
	box-sizing: border-box;
	padding: 0 15px;
}

.blog img{
	position: relative;
	cursor: pointer;
}

.blog .img-data{
	position: relative;
}

.date{
	position: absolute;
	bottom: 0px;
	left: 0;
	width: 60px;
	height: 70px;
	background-color: #95e1d3;
}

.date .day{
	padding-top: 10px;
	font-size: 30px;
  font-family:  'Montserrat', sans-serif;
  font-weight: bold;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
}

.date .month{
	font-size: 12px;
  font-family:  'Roboto', sans-serif;
  font-style: italic;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
}


.blog .img-data:hover div.date{
	bottom: 10px;
	left: -10px;
}


.blog .name{
	padding: 18px 0 10px;
	font-size: 14px;
  font-family:  'Montserrat', sans-serif;
  font-weight: bold;
  color: rgb(51, 51, 51);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: left;
}

.blog .text{
	padding-bottom: 16px;
	width: 350px;
	font-size: 15px;
  font-family: 'Roboto', sans-serif;
  color: rgb(153, 153, 153);
  line-height: 1.6;
  text-align: left;
}

.blog .dividion-line{
	display: block;
	margin-bottom: 14px;
	width: 380px;
	height: 1px;
	background: #e5e5e5;
}

.blog .info{
	position: relative;
	font-size: 15px;
  font-family: 'Roboto', sans-serif;
  color: rgb(153, 153, 153);
  font-style: italic;
  line-height: 1.6;
  text-align: left;
}

.blog .views,
.blog .comments{
	display: inline-block;
}

.blog .views:before{
	content: url('../img/view.png');
	margin-right: 5px;
}

.blog .views{
	margin-right: 15px;
}

div.comments{
	position: absolute;
    left: 68px;
}

.blog .comments:before{
	content: url('../img/comment.png');
	margin-right: 5px;
}

.map{
	background-image: url('../img/map.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 200px;
	margin-bottom: 75px;
}

div.map-data{
	margin: 0 auto;
	padding-top: 50px;
	width: 140px;
	height: 90px;
	text-align: center;
}

.map-data img{
    padding: 5px 5px 0 0;
}

.map-data p{
	font-size: 24px;
  font-family:  'Montserrat', sans-serif;
  color: rgb(243, 129, 129);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  padding-top: 15px;
}

.map-data p:after{
	content: '';
	display: block;
	text-align: center;
	background: #f38181;
	width: 60px;
	height: 3px;
	margin: 15px auto 0;
}

.summary + .container{
	margin-top: 75px;
	font-size: 0;
}

section.summary{
	margin-bottom: 25px;
}

.summary .follow-head{
	font-size: 46px;
  font-family:  'Montserrat', sans-serif;
  color: rgb(204, 204, 204);
  font-weight: bold;
  line-height: 0.7;
  margin-bottom: 37px;
}


.summary .follow-text{
	padding-right: 35px;
	margin-bottom: 45px;
	font-size: 15px;
  font-family:  'Roboto', sans-serif;
  color: rgb(153, 153, 153);
  line-height: 1.6;
  text-align: left;

}

.summary .number-of-followers:before{
	content: '15k';
	font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  color: rgb(51, 51, 51);
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  margin-right: 4px;
}

.summary .number-of-followers{
	margin-bottom: 13px;
	font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  color: rgb(51, 51, 51);
  line-height: 1.2;
  text-align: left;
}

.summary .follow-line{
    display: block;
    margin-bottom: 14px;
    width: 480px;
    height: 1px;
    background: #e5e5e5;
}

.summary .follow-us .follow-icon-text{
	display: inline-block;
	font-size: 15px;
  font-family:  'Roboto', sans-serif;
  color: rgb(153, 153, 153);
  font-style: italic;
  line-height: 1.6;
  text-align: left;
}

.summary .follow-nets {
	display: inline-block;
	margin-bottom: 38px;
}

 svg{
 	margin-left: 11px;
 }

.email-form .email{
padding-left: 13px;
    width: 214px;
    height: 35px;
    border: 1px solid #e7e7e7;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: rgb(153, 153, 153);
    font-style: italic;
    font-weight: bold;
    line-height: 1.6;
    text-align: left;
}





.email-form .email-button{
	margin: 0px -4px;
	width: 150px;
	height: 40px;
	font-size: 14px;
	background-color: #95e1d3;
  font-family: 'Montserrat', sans-serif;
  color: rgb(255, 255, 255);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: center;
  border: none;
}


.summary. .blogs-mogo{
    margin-right: 56px;
}

.summary .sum-columns{
	display: inline-block;
}

.summary .follow-mogo{
	width: 507px;
	height: 360px;
}

.summary .blogs-mogo-title{
	    margin-bottom: 39px;
font-size: 14px;
  font-family:  'Montserrat', sans-serif;
  color: rgb(51, 51, 51);
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  text-align: left;
}

.summary .blogs-mogo{
	    margin-right: 55px;
}

.blogs .blog-pict,
.blogs .blog-info{
	display: inline-block;
}

.blogs .blog{
	padding-bottom: 30px;
}

.blogs .blog-pict{
	margin-right: 15px;
}

.blogs .blog-info{
	width: 220px;
	height: 55px;
}

.blogs .blog-theme{
	padding-top: 17px;
font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  color: rgb(51, 51, 51);
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.5;
  text-align: left;
}

.blogs .blog-date{
	  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  color: rgb(153, 153, 153);
  font-style: italic;
  line-height: 1.846;
  text-align: left;
}

.insta-mogo p{
		    margin-bottom: 39px;
	font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  color: rgb(51, 51, 51);
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
}

.insta-mogo .insta-foto-row{
	font-size: 0;
	margin: 0 -2px;
}

.insta-mogo .insta-foto{
	margin-bottom: 16px;
}

.insta-mogo .insta-foto-row img{
	width: 33.3%;
	box-sizing: border-box;
	padding-left: 2px;
	padding-bottom: 2px;
}

.insta-mogo .inst-view-foto{
	  font-size: 10px;
  font-family: 'Roboto', sans-serif;
  color: rgb(51, 51, 51);
  font-style: italic;
  line-height: 1.846;
  text-align: left;
}

footer .about:before{
	content: '';
	display: block;
	width: 100%;
	height: 1px;
	background: #e5e5e5;
}

footer .about p{
	 padding: 25px 0;
	font-size: 14px;
  font-family:  'Montserrat', sans-serif;
  color: rgb(51, 51, 51);
  line-height: 1.2;
  text-align: center;
}

footer .about span{
	color: #f38181;
}




