/*font-family: 'Montserrat', sans-serif;
font-family: 'Kaushan Script', cursive;
font-family: 'Roboto', sans-serif;*/

header{
	background-image: url(../img/header.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.container{
	max-width: 1200px;
	margin: auto;
	padding: 0 15px;
}

.menu .navbar-head-text{
	font-size: 30px;
	font-family: 'Montserrat', sans-serif;
	color: rgb(255, 255, 255);
	font-weight: bold;
	line-height: 1.2;
}

.menu{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.navbar-menu{
	width: 620px;
	margin: 40px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.menu a{
	width: 24px;
}

.navbar-wrapper a{
	font-size: 14px;
	font-family: 'Montserrat', sans-serif;
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	line-height: 1.2;
	text-decoration: none;
	padding: 5px 0
}

.navbar-menu a:hover{
	cursor: pointer;
	color: rgb(252, 227, 138);
	border-bottom: 3px solid #fce38a;
}

.head .header-text1{
	content: 'Creative Template';
	margin: 125px auto 0;
	font-size: 72px;
	font-family: 'Kaushan Script', cursive;
	color: rgb(255, 255, 255);
	line-height: 1.2;
	text-align: center;
}

.head .header-text2{
	padding: 0 50px;
	margin: 33px auto 0;
	font-size: 150px;
	font-family: 'Montserrat', sans-serif;
	color: rgb(255, 255, 255);
	font-weight: bold;
	text-transform: uppercase;
	line-height: 0.933;
	text-align: center;
}

.head .header-text2:after{
	content: '';
	display: block;
	background: #fff;
	width: 60px;
	height: 3px;
	margin: 59px auto 0;
}

.head button{
	display: block;
	font-size: 14px;
	margin: 50px auto 0;
	width: 160px;
	height: 40px;
	font-family: 'Montserrat', sans-serif;
	color: rgb(255, 255, 255);
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1.2;
	text-align: center;
	border: 3px solid #fff;
	background-color: transparent;



}

.head button:hover{
	cursor: pointer;
	background-color: #edb75e;

}

.head .navigation-text{
	margin: 157px -20px 0;
	font-size: 0;
}

.head .navigation-text .col{
	display: inline-block;
	box-sizing: border-box;
	width: 280px;
	padding-bottom: 20px;
	margin: 0 15px;
}

.head .navigation-text .col:hover{
	cursor: pointer;
}

.head .nav-line{
	position: relative;
	width: 280px;
	height: 3px;
	background: #f7ebc5;
	display: block;
}

.head .col:hover .nav-line-hovered{
	position: absolute;
	width: 70px;
	height: 3px;
	background: #f38181;
	display: block;
}

.head .col:hover ._2{
	left: 70px;
}

.head .col:hover ._3{
	left: 140px;
}

.head .col:hover ._4{
	left: 210px;
}

.head .col:hover .nav-line{
	background: #fff;
}

.head .navigation-text-theme{
	padding-top: 20px;
}

.head .navigation-text span{
	font-size: 24px;
	font-family: 'Montserrat', sans-serif;
	color: rgb(255, 255, 255);
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1.2;
}

.head .navigation-text p{
	font-size: 18px;
	font-family: 'Montserrat', sans-serif;
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	line-height: 1.2;
}

.about-us .header-text1{
	margin-top: 92px;
	font-size: 24px;
	font-family: 'Kaushan Script', cursive;
	color: rgb(51, 51, 51);
	line-height: 1.2;
	text-align: center;
}

.about-us .header-text2{
	margin-top: 14px;
	font-size: 30px;
	font-family: 'Montserrat', sans-serif;
	color: rgb(51, 51, 51);
	font-weight: bold;
	text-transform: uppercase;
	line-height: 1.2;
	text-align: center;
}

.about-us .header-text2:after{
	content: '';
	display: block;
	background: #f38181;
	width: 60px;
	height: 3px;
	margin: 32px auto 0;
}

.about-us p{
	margin-top: 42px;
	padding: 0 105px;
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
	color: rgb(153, 153, 153);
	line-height: 1.6;
	text-align: center;
}

.pict-facts .pict-row{
	font-size: 0;
	margin: 105px -15px;
}

.pict-facts .pf{
	position: relative;
	display: inline-block;
	box-sizing: border-box;
	margin: 0 15px;
	width: 380px;
	height: 250px;
}

._img{
	position: absolute;
	width: 380px;
	height: 250px;
	top: 0px;
}
.pict-facts .pf:hover ._img{
	cursor: pointer;
	background: -moz-linear-gradient(top, rgba(243,129,129,0.9) 0%, rgba(252,227,138,1) 100%); 
	background: -webkit-linear-gradient(top, rgba(243,129,129,0.9) 0%,rgba(252,227,138,1) 100%); 
	background: linear-gradient(to bottom, rgba(243,129,129,0.9) 0%,rgba(252,227,138,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6f38181', endColorstr='#fce38a',GradientType=0 ); 
}